<%= form_for [@game, @result], :html => {:class => "well form-horizontal"} do |f| %>
  <%= f.error_messages %>
  <% @result.teams.each.with_index do |team, index| %>

    <div class="form-group">
        <div class="col-lg-4">
            <%= select "result[teams][#{index}]", "players", player_options, {:include_blank => ''}, :class => "players form-control", :multiple => @game.max_number_of_players_per_team != 1, "data-placeholder" => "Team #{index + 1}" %>
        </div>
    </div>
    <% if index != @result.teams.size - 1 %>
        <div class="form-group">
            <div class="col-lg-4">
                <% if @game.allow_ties %>
                    <%= select "result[teams][#{index}]", :relation, ["defeats", "ties" ], {}, :class => "form-control" %>
                <% else %>
                    <%= select "result[teams][#{index}]", :relation, ["defeats" ], {}, :class => "form-control" %>
                <% end %>
            </div>
        </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <div class="col-lg-4">
        <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(".players").chosen();
<% end %>
