<%= form_for @game, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Game</legend>

    <div class="form-group">
        <%= f.label :name, :class => "col-sm-2" %>
        <div class="col-sm-7">
            <%= f.text_field :name, :class => "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :rating_type, :class => "col-sm-2" %>
        <div class="col-sm-7">
            <%= f.select :rating_type, Game::RATER_MAPPINGS.map{|k, v| [v.description, k]}, {}, :class => "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :min_number_of_players_per_team, :class => "col-sm-2" %>
        <div class="col-sm-7">
            <%= f.text_field :min_number_of_players_per_team, :class => "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :max_number_of_players_per_team, :class => "col-sm-2" %>
        <div class="col-sm-8">
            <%= f.text_field :max_number_of_players_per_team, :class => "form-control" %>
            <p class="help-block">Leave blank for no restriction</p>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :min_number_of_teams, :class => "col-sm-2" %>
        <div class="col-sm-8">
            <%= f.text_field :min_number_of_teams, :class => "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :max_number_of_teams, :class => "col-sm-2" %>
      <div class="col-sm-8">
        <%= f.text_field :max_number_of_teams, :class => "form-control" %>
        <p class="help-block">Leave blank for no restriction</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :allow_ties, :class => "col-sm-2"  %>
      <div class="col-sm-8">
        <%= f.check_box :allow_ties %>
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit :class => "btn btn-primary" %>
            <%= link_to "Cancel", root_path, :class => "btn btn-warning" %>
        </div>
    </div>
  </fieldset>
<% end %>
