<div class="page-header">
  <section class="action-buttons pull-right">
    <span><%= link_to 'Edit Game', edit_game_path(@game), :class => "btn btn-primary" %></span>
    <span><%= link_to "Add Result", new_game_result_path(@game), :class => "btn btn-success" %></span>
    <% if @game.results.empty? %>
      <span><%= link_to "Delete", game_path(@game), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %></span>
    <% end %>
  </section>
  <h1><%= @game.name %></h1>
</div>
<div class="row">
  <div class="col-lg-7">
    <h2>Recent Results</h2>
    <% if @game.recent_results.any? %>
      <%= render :partial => 'shared/results', :object => @game.recent_results %>
    <% else %>
      <p>No results, play some games!</p>
    <% end %>
  </div>
  <div class="col-lg-5">
    <h2>Active Ratings</h2>
    <ol>
      <%= render :partial => 'rating', :collection => @game.all_ratings.select(&:active?) %>
    </ol>
    <%= link_to "View All", game_ratings_path(@game) %>
  </div>
</div>
