<div class="page-header">
  <section class="action-buttons pull-right">
    <span><%= link_to 'Edit Game', edit_game_path(@game), :class => "btn btn-primary" %></span>
    <span><%= link_to "Add Result", new_game_result_path(@game), :class => "btn btn-success" %></span>
    <% if @game.results.empty? %>
      <span><%= link_to "Delete", game_path(@game), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %></span>
    <% end %>
  </section>
  <h1><%= @game.name %></h1>
</div>
<div class="row">
  <div class="col-lg-7">
    <h2>Recent Results</h2>
    <% if @game.recent_results.any? %>
      <%= render :partial => 'shared/results', :object => @game.recent_results %>
    <% else %>
      <p>No results, play some games!</p>
    <% end %>
  </div>
  <div class="col-lg-5">
    <h2>Active Ratings</h2>
    <ol>
      <%= render :partial => 'rating', :collection => @game.all_ratings.select(&:active?) %>
    </ol>
    <%= link_to "View All", game_ratings_path(@game) %>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Game queue</h2>
        <div class="row">
            <div class="col-lg-8">
                <%= select "nextPlayerSelect", "players", player_options, {:include_blank => ''}, :class => "players form-control", "data-placeholder" => "Player" %>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-add-next">Add</button>
            </div>
        </div>
        <table class="table next-table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/x-template" id="next-row">
    <tr data-id="{{index}}">
        <td>{{player}}</td>
        <td><a href="#" class="delete">Remove</a></td>
    </tr>
</script>

<%= javascript_tag do %>
    $(".players").chosen();

    _.templateSettings = {
      interpolate: /\{\{(.+?)\}\}/g
    };

    var template = _.template($('#next-row').html());

    var players = {
        <% player_options.each_with_index do |player, index| %>
        <%= player[1] =%>: '<%= player[0] =%>' <% if index + 1 < player_options.size %>,<% end %>
        <% end %>
    };





    var loadGames = function(){
        var games = [];
        if(localStorage.games !== undefined && localStorage.games !== ''){
            games = JSON.parse(localStorage.games);
        }

        return games;
    };

    var updateGames = function(games){
        localStorage.games = JSON.stringify(games);
    };

    var clearTable = function(tbody){
        $(tbody).unbind().empty();

    };

    var renderGames = function(){
        var table = $('table.next-table');
        var tbody = $('tbody', table);
        clearTable(tbody);

        _.each(games, function(player, index){
            var row = template({
                player: players[player],
                index: index
            });
            var $row = $(row);

            $(tbody).append($row);
        });
        $(tbody).on('click', 'a', onDeleteClick);
    };

    var onAddClick = function(ev){
        var input = $('select.players');

        var value = input.val();

        if(value !== ''){
            games.push(value);
            updateGames(games);
            renderGames();
            input.val('').trigger("chosen:updated");
        }


        ev.preventDefault();
        return false;
    };

    var onDeleteClick = function(ev){
        var line = $(ev.currentTarget).parents('tr');
        var index = $(line).data('id');
        games.splice(parseInt(index),1);
        renderGames();
        updateGames(games);

        ev.preventDefault();
        return false;
    };

    var games = loadGames();
    renderGames();

    var button = $('button.btn-add-next');

    button.on('click', onAddClick);


<% end %>