<%= form_for @player, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Player</legend>

    <div class="form-group">
        <%= f.label :name, :class => "col-lg-2" %>
        <div class="col-lg-5">
            <%= f.text_field :name, :class => "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "col-lg-2" %>
      <div class="col-lg-5">
        <%= f.text_field :email, :class => "form-control" %>
        <p class="help-block">
      Avatar provided by <a href="http://gravatar.com/">Gravatar</a>, a global avatar service.</p>
      </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <%= f.submit :class => "btn btn-primary" %>
            <%= link_to "Cancel", root_path, :class => "btn btn-warning" %>
        </div>
    </div>
  </fieldset>
<% end %>
