<div class="page-header">
    <section class="action-buttons pull-right">
        <span><%= link_to 'Edit Player', edit_player_path(@player), :class => "btn btn-primary" %></span>
        <% if @player.results.empty? %>
          <span><%= link_to "Delete", player_path(@player), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %></span>
        <% end %>
    </section>
    <div><%= image_tag(gravatar_url(@player, :size => 80) , :class => "img-rounded")%></div>
    <h1><%= @player.name %></h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <h3>Recent Results</h3>
    <% if @player.recent_results.any? %>
      <%= render :partial => 'shared/results', :object => @player.recent_results %>
    <% else %>
      <p>No results, play some games!</p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <h3>Ratings</h3>
    <ol>
      <%= render :partial => 'rating', :collection => @player.ratings %>
    </ol>
  </div>
</div>
